.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
.bg-tertiary {
  background-color: #1a1a1a; /* Example color */
}

.shadow-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
