.gradient-border {
  padding: 3px;
  border-radius: 1.5 rem;
  background: linear-gradient(
    to right bottom,
    #84fbee,
    #e4d38f,
    #f591e5,
    #a456fe
  );
  position: relative;
  z-index: 1;
}

.gradient-border::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 8px;
  z-index: -1;
}
.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
.bg-tertiary {
  background-color: rgba(0, 123, 255, 0.1);
}

.shadow-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.neon-border {
  border: 1px solid #34d2f0;
  border-radius: 10px;
  padding: 20px;
}
.neon-dot {
  background-color: #34d2f0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

/* Slider */
.slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  opacity: 75%;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider:hover {
  opacity: 100%;
}
.slider .list {
  display: flex;
  width: calc(205px * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1) - 10s
  ) !important;
}
.slider .list .item img {
  width: 100%;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}
.slider .item:hover {
  filter: grayscale(0);
}
.slider[reverse="true"] .item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}

@media (max-width: 768px) {
  .slider {
    width: 100%;
    height: 205px;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
    );
  }
  .slider .list {
    width: calc(50px * var(--quantity));
  }
  .slider .list .item {
    width: 130px;
    height: 130px;
    position: absolute;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc(
      (10s / var(--quantity)) * (var(--position) - 1) - 10s
    ) !important;
  }
  @keyframes autoRun {
    from {
      left: -170%;
    }
    to {
      left: 100%;
    }
  }
  .slider[reverse="true"] .item {
    animation: reversePlay 10s linear infinite;
  }
  @keyframes reversePlay {
    from {
      left: 100%;
    }
    to {
      left: -170%;
    }
  }
}

@media (max-width: 480px) {
  .slider {
    width: 100%;
    height: 205px;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
    );
  }
  .slider .list {
    width: calc(45px * var(--quantity));
  }
  .slider .list .item {
    width: 130px;
    height: 130px;
    position: absolute;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc(
      (10s / var(--quantity)) * (var(--position) - 1) - 10s
    ) !important;
  }

  @keyframes autoRun {
    from {
      left: -300%;
    }
    to {
      left: 100%;
    }
  }
  .slider[reverse="true"] .item {
    animation: reversePlay 10s linear infinite;
  }
  @keyframes reversePlay {
    from {
      left: 300%;
    }
    to {
      left: -100%;
    }
  }
}

/* Chatbot */
.chatbox-message-wrapper {
  bottom: calc(100% + 1rem);
  right: 0;
  width: 400px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.1);
  transform: scale(0);
  transform-origin: bottom right;
  transition: 0.2s;
}
.chatbox-message-wrapper.show {
  transform: scale(1);
}
.chatbox-message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 0.75rem 1.5rem;
}
.chatbox-message-profile {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}
.chatbox-message-image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
.chatbox-message-name {
  color: #342e37;
  font-size: 1.125rem;
  font-weight: 600;
}
.chatbox-message-status {
  font-size: 0.875rem;
  color: #888;
}

#chatbox-message-content {
  background: url("/images/chatbotbg.jpg") repeat;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
  height: 350px;
  overflow-y: auto;
}
.chatbox-message-bottom {
  background: #fff;
  padding: 0.75rem 1.5rem;
  display: flex;
}
.chatbox-message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #f5f5f5;
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
}
.chatbox-message-input {
  background: transparent;
  outline: none;
  border: none;
  resize: none;
  scrollbar-width: none;
}
.chatbox-message-input::-webkit-scrollbar {
  display: none;
}
.chatbox-message-button {
  background: #192841;
  border-radius: 50%;
  color: #fff;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.chatbox-message-button i {
  font-size: 24px;
  margin-left: 17px;
}
.zmdi {
  margin-right: 15px;
}
.chatbox-message-response {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.chatbox-message-response-image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.chatbox-message-bubble {
  width: 400px;
  padding: 15px;
  border-radius: 15px;
  background: #ececec;
}
.chatbox-message-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.chatbox-message-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.chatbox-message-info-time {
  font-size: 0.85em;
}
.right-message {
  flex-direction: row-reverse;
}
.right-message .chatbox-message-bubble {
  background: #192841;
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-message .chatbox-message-response-image {
  margin: 0 0 0 10px;
}

.left-message .chatbox-message-bubble {
  background: #ddd;
  color: #342e37;
  border-bottom-left-radius: 0;
}
.left-message .chatbox-message-response-image {
  margin-right: 10px;
}
