@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "primaryFont";
  src: url("/font/EvanstonTavern-1826Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "secondaryFont";
  src: url("/font/BlenderProBook.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "thirdFont";
  src: url("/font/Oxanium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "forthFont";
  src: url("/font/Tolyer-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "codeFont";
  src: url("/font/monocode-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  background: #0e1422;
  margin: 0;
}

.hideLoading {
  animation: hideLoading ease-in-out 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideLoading {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}
