@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "primaryFont";
  src: url("/font/NexaRustSans-Black.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "secondaryFont";
  src: url("/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "thirdFont";
  src: url("/font/Tolyer-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  background: #111827;
  margin: 0;
}

/* Loading Screen Animation */
.hideLoading {
  animation: hideLoading ease-in-out 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideLoading {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

.chatbox-wrapper {
  z-index: 100;
  position: fixed;
  bottom: 1.4rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
}
.chatbox-toggle {
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  color: var(--white);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.chatbox-toggle:active {
  transform: scale(0.9);
}
.chatbox-message-wrapper {
  position: absolute;
  bottom: calc(100% + 1rem);
  right: 0;
  width: 400px;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.1);
  transform: scale(0);
  transform-origin: bottom right;
  transition: 0.2s;
}
.chatbox-message-wrapper.show {
  transform: scale(1);
}
.chatbox-message-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--light);
  padding: 0.75rem 1.5rem;
}
.chatbox-message-profile {
  display: flex;
  align-items: center;
  grid-gap: 0.5rem;
}
.chatbox-message-image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
.chatbox-message-name {
  color: var(--dark);
  font-size: 1.125rem;
  font-weight: 600;
}
.chatbox-message-status {
  font-size: 0.875rem;
  color: var(--grey-d-3);
}
.chatbox-message-dropdown {
  position: relative;
}
.chatbox-message-dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 50%;
}
.chatbox-message-dropdown-toggle:hover {
  background: var(--grey);
}
.chatbox-message-dropdown-menu {
  list-style: none;
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--light);
  padding: 0.5rem 0;
  width: 120px;
  box-shadow: 0.25rem 0.25rem 1.5rem rgba(0, 0, 0, 0.1);
  transform: scale(0);
  transform-origin: top right;
  transition: 0.2s;
  border-radius: 0.5rem;
  visibility: hidden;
}
.chatbox-message-dropdown-menu.show {
  transform: scale(1);
  visibility: visible;
}
.chatbox-message-dropdown-menu a {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--dark);
  background: var(--light);
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
}
.chatbox-message-dropdown-menu a:hover {
  background: var(--grey);
}
#chatbox-message-content {
  background: url("https://mcdn.wallpapersafari.com/medium/27/32/jt4AoG.jpg")
    repeat;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
  height: 280px;
  overflow-y: auto;
}
.chatbox-message-bottom {
  background: var(--white);
  padding: 0.75rem 1.5rem;
  display: flex;
}
.chatbox-message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #f5f5f5;
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
}
.chatbox-message-input {
  background: transparent;
  outline: none;
  border: none;
  resize: none;
  scrollbar-width: none;
}
.chatbox-message-input::-webkit-scrollbar {
  display: none;
}
.chatbox-message-button {
  background: #192841;
  border-radius: 50%;
  color: white;
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.chatbox-message-button i {
  font-size: 24px;
  margin-left: 17px;
}
.zmdi {
  margin-right: 15px;
}
.chatbox-message-response {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.chatbox-message-response-image {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.chatbox-message-bubble {
  width: 400px;
  padding: 15px;
  border-radius: 15px;
  background: #ececec;
}
.chatbox-message-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.chatbox-message-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.chatbox-message-info-time {
  font-size: 0.85em;
}
.left-message .chatbox-message-bubble {
  background: #ddd;
  color: #342e37;
  border-bottom-left-radius: 0;
}
.right-message {
  flex-direction: row-reverse;
}
.right-message .chatbox-message-bubble {
  background: var(--dark-blue);
  color: var(--white);
  border-bottom-right-radius: 0;
}
.right-message .chatbox-message-response-image {
  margin: 0 0 0 10px;
}
.left-message .chatbox-message-response-image {
  margin-right: 10px;
}
